@media screen and (max-width: 992px) {
    .about-container {
        padding-top: 100px;
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }

    .about-left {
        position: relative;
        justify-self: center;
    }
}

@media screen and (max-width:768px) {
    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        padding: 30px;
        flex-direction: column;
        background-color: #fff;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger.active .line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hamburger.active .line:nth-child(2) {
        background-color: transparent;
    }

    .hamburger {
        display: block;
    }
    .edu-container {
        display: flex;
        flex-direction: column;
        padding: 100px 30px;
    }
    .edu-line::after{
        width: 80%;
    }
    .portfolio-container{
        padding: 100px 30px;
        grid-template-columns: repeat(1,1fr);
    }
    .contact-container{
        padding: 100px 30px;
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    }
    .contact-right{
        position: relative;
        padding-left: 0px;
    }
    .skill-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        padding: 100px 30px;
    }
}

@media screen and (max-width:568px) {
    .navbar {
        padding: 0 20px;
    }

    .nav-menu {
        padding: 20px 20px;
    }

    .hero-container h1 {
        font-size: 4rem;
    }

    .hero-container p {
        font-size: 1.6rem;
    }

    .hero-container .h-btn {
        font-size: 1.4rem;
    }

    .title h2 {
        font-size: 2rem;
    }

    .about-container {
        padding: 0 20px;
        padding-top: 50px;
        padding-bottom: 100px;
        grid-gap: 25px;
    }

    .about-right h3 {
        font-size: 1.6rem;
    }

    .about-right p {
        font-size: 1.4rem;
        line-height: 1.6;
    }
    .about-content h3 {
        font-size: 1.4rem;
    }
    .edu-container {
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
    }
    .portfolio-container{
        padding: 100px 20px;
        grid-template-columns: repeat(1,1fr);
    }
    .owl-carousel{
        padding: 100px 20px;
        text-align: center;
    }
    .contact-container{
        padding: 50px 20px;
        grid-template-columns: repeat(1,1fr);
    }
    .input-box50{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
    }
    .contact-head h3{
        font-size: 1.8rem;
    }
    .contact-head p{
        font-size: 1.4rem;
    }
    .contact-box h3{
        font-size: 1.4rem;
        font-weight: 500;
    }
    .contact-box p{
        font-size: 1.4rem;
        padding: 0;
        padding-top: 10px;
        border: none;
    }
    .edu-info h3{
        padding-top: 20px;
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 5px;
    }
    .edu-info h4{
        font-size: 1.2rem;
        font-weight: 400;
    }
    .edu-info p{
        padding: 0;
        border: none;
        font-size: 1.2rem;
        font-weight: 400;
        padding-top: 10px;
        max-width: 90%;
    }
    .skill-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        padding: 50px 20px;
    }
    .skill-info h3{
        font-size: 1.4rem;
    }
    .skill-info span{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        padding: 0 10px;
    }
    .nav-menu {
        padding: 20px 10px;
    }
    .nav-menu a {
        font-size: 1.2rem;
    }

    .hero-container h1 {
        font-size: 3.5rem;
    }

    .hero-container p {
        font-size: 1.4rem;
    }

    .hero-container .h-btn {
        font-size: 1.2rem;
    }
    .title h2 {
        font-size: 1.6rem;
    }
    .about-right h3 {
        font-size: 1.5rem;
    }
    .about-container {
        padding: 0 10px;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .portfolio-container{
        padding: 50px 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .about-info{
        grid-template-columns: repeat(1,1fr);
    }
    .edu-container {
        padding: 50px 10px;
    }
    .owl-carousel{
        padding: 100px 20px;
        text-align: center;
    }
    .contact-container{
        padding: 100px 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .footer-container p{
        font-size: 1.2rem;
    }
    .contact-head h3{
        font-size: 1.6rem;
    }
    .contact-head p{
        font-size: 1.2rem;
    }
    .skill-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        padding: 50px 10px;
    }
    .skill-info h3{
        font-size: 1.3rem;
    }
    .skill-info span{
        font-size: 1.3rem;
    }
}